[% extends "templates/base.html" %]
[% block content %]
<p>Welcome to the chat!</p>
<div ng-app="myModule">
    <div ng-controller="MyCtrl">
        <form ng-submit="sendMessage()">
            <input type="text" class="form-control" ng-model="enteredMessage" placeholder="Enter message here">
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
	        <ul>
            <li ng-repeat="msg in messages track by $index">
                {{msg}}
            </li>
        </ul>
    </div>
</div>
[% endblock %]

